body{
    background-color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


div#corpo{
    width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px #777;
}
table.listagem{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.listagem tr{
    height: 50px;
}
table.listagem td{
    padding: 10px;
}
table.listagem tr:nth-child(even){
    background-color: #f2f2f2;
}
table.listagem td:nth-child(1){
    width: 50px;
}
table.listagem td:nth-child(3){
    width: 90px;
}
img.mini {
    width: 50px;
}
img.full {
    height: 400px;
}
table.detalhes {
    width: 100%;
}
table.detalhes td{
    padding: 10px;
    vertical-align: top;
}
footer {
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: right;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
form#busca{
    font-size: 15px;
    text-align: right;
}
div.sucesso{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(226,239,218);
    color: rgb(74,116,67);
}
div.aviso{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(250, 235, 141);
    color: rgb(134,110,66);
}
div.erro{
    padding: 7px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(239,223,222);
    color: rgb(157,75,69);
}